@charset "UTF-8";

* {
    margin: 0;

}

#cabecalho {
    background-color: #0D1B1E;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

nav {
    background-color: #7798AB;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: #0D1B1E;
    font-size: 35px;
}

#banner {
    background-color: whitesmoke;
    color: #FF5964;
    padding: 250px;
    text-align: center;
}

#produtos {
    background-color: whitesmoke;
    color: #FF5964;
    text-align: center;
}

#seja-membro {
    background-color: #C3DBC5;
    color: #0D1B1E;
    padding: 300px;
    text-align: center;
}

footer {
    background-color: #0D1B1E;
    padding: 200px;
}