@charset "UTF-8";

body {
    background-color: #0D1B1E;
}

section {
    margin: auto;
}

.cadastro {
    width: 40%;
    margin: auto;
    border-radius: 10px;
    background-color: #C3DBC5;
    box-sizing: border-box;
    padding: 15px;
    box-shadow: 0px 0px 10px white;
    text-align: center;
    margin-top: 15px;
}

.cadastro h3 {
    color: red;
    background-color: black;
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

.login {
    margin-top: 10%;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: #0D1B1E;
}

input {
    margin: 10px;
    border-radius: 5px;
    border: 0 black solid;
    padding: 10px;
    width: 90%;
}

input::placeholder {
    color: #0D1B1E;
    font-size: 1.1em;
    font-weight: 600;
}

select {
    margin: 5px;
    width: 94%;
    border: 0 black solid;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.1em;
    color: #0D1B1E;
    padding: 5px;
}


option {
    background-color: #374e5c;
    color: white; 
}

textarea {
    border-radius: 10px;
    padding: 10px;
    color: #0D1B1E;
    font-size: 1.1em;
    font-weight: 600;
    border: 0 black solid;
    width: 90%;
    margin: 10px;
}


button {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    border: 0px black solid;
    background-color: #0D1B1E;
    font-size: 1.3em; 
    cursor: pointer;
    color: whitesmoke;
}

a {
    text-decoration: underline;
    font-size: 1.2em; 
    color: #0D1B1E; 
}

p {
    font-size: 1.3em;
}

.cadastre-se {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit {
    width: 200px;
    padding: 10px;
    font-size: 1.1em;
    color: white;
    background-color: #0D1B1E;
    cursor: pointer;
    transition: 0.3s;
}

.submit:hover {
    color: white;
    text-decoration: underline;
    background-color: black;
}

.upload {
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: #6D99B3;
}

.upload img {
    width: 70px;
    margin-bottom: 20px;
}

input[type="file"] {
    display: none;
}

label {
    padding: 10px;
    width: 400px;
    background-color: #222E36;
    color: #FFF;
    font-size: 1.3em;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    display: block;
    margin: auto;
    border-radius: 10px;
}
