@charset "UTF-8";

* {
    margin: 0;
}

#banner {
    background-color: whitesmoke;
    color: #FF5964;
    padding: 250px;
    text-align: center;
}

#produtos {
    background-color: whitesmoke;
    text-align: center;
}

.produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.produto {
    width: 300px;   
    height: 400px;
    border: 1px black solid;
    margin-bottom: 20px;
    border-radius: 15px;
    transition: 0.4s;
}

.produto:hover {
    box-shadow: 2px 2px 4px black; 
}

.produto h2 {
    margin-top: 15px;
    font-size: 1.5em;
}

.produto h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.produto a {
    color: white;
    font-weight: 600;
    font-size: 1.3em;
    background-color: #0D1B1E;
    padding: 15px;
    transition: 0.4s;
}

.produto a:hover {
    text-decoration: underline;
}

#seja-membro {
    background-color: #C3DBC5;
    color: #0D1B1E;
    padding: 300px;
    text-align: center;
}

footer {
    background-color: #0D1B1E;
    padding: 200px;
}