@charset "UTF-8";

main {
    height: 100vh;
}

#ola {
    text-align: center;
    color: #FF5964;
    padding-top: 20px;
    font-size: 2.2em;
    text-decoration: underline wavy;
}

#img {
    width: 300px; 
    border-radius: 10px;
}

.nome {
    margin: auto;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #6D99B3;
    padding: 10px;
    box-shadow: 0px 0px 10px white;
    text-align: center;
}

.cartao {
    width: 1200px;
    padding: 50px;
    margin: auto;
    background-color: #4b6879;
    border-radius: 10px;
    margin-top: 5%;
}

#usuario {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.info {
    width: 600px;
    text-align: center;
}

.label {
    text-align: center;
    color: white;
    margin-top: 10px;
    font-size: 1.6em;
}

.atualizarSenha {
    background-color: #0D1B1E;
    width: 200px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 35px;
    text-align: center;
}

.atualizarSenha a {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
}

.atualizarSenha:hover {
    cursor: pointer;
    text-decoration: underline;
}